@import "./vars/variables";

@mixin container {
  max-width: 1024px;
  margin: auto;
  padding: var(--padding-container);
}

.body {
  color: $dark-theme-text;
  background-color: $secondary-dark-theme;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $primary-dark-theme;
  box-shadow: 0 0 0.25rem 0 $dark-theme-shadow;
}

.header-nav {
  padding: 0.5rem 0;

  &__link-logo-container {
    font-size: 2rem;
    text-decoration: none;
    color: $dark-theme-text;
  }

  &__link-list {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    transition: $all-transitions;
  }

  &__link-item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $dark-theme-text;
    font-weight: 700;
    transition: $all-transitions;
  }

  &__link:hover {
    color: $primary-highlight;
    border-bottom: 0.125rem solid $secondary-highlight;
  }
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include container();
}

.main {
  display: flex;
  flex-direction: column;
}

.gallery {
  padding: $padding-section;
  &__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $primary-dark-theme;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: 0 0 1rem 0 $dark-theme-shadow;
    transition: $all-transitions;
  }
  &__card-image-container {
    height: 12.5rem;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0;
    margin-top: -2rem;
  }
  &__card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__card-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  &__card-button {
    text-decoration: none;
    background-color: $button-color;
    color: $light-theme-text;
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: $border-radius;
    transition: $all-transitions;
    &:hover,
    &--active {
      background-color: $button-color-active;
    }
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  @include container();
}

@media (min-width: 854px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
